﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.BaseMailContext

<table width="90%" border="1" cellpadding="0" cellspacing="0" style="border-radius:2px;border:1px solid #abcae7;margin:0 auto;box-shadow:0px 0px 10px 0px rgba(0, 0, 0, 0.1);font-family:PT Sans,Helvetica Neue,Helvetica,Arial,sans-serif;">
    <tbody>
        <tr>
            <td style="border:none;padding:20px 20px 0px 20px">
                <div style="padding-bottom:10px;border-bottom:1px solid #d1d1d1;">
                    <a href="@MailHelper.GetUrl()" title="Интегрум.Карьера" target="_blank">
                        <img src="cid:Logo" alt="@WellKnownNames.SiteName" title="@WellKnownNames.SiteName" width="199" height="59" />
                    </a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="border:none;padding:20px">
                <p>@RenderBody()</p>
            </td>
        </tr>
        <tr>
            <td valign="top" style="border:none;padding:0px 20px 20px 20px">
                <p style="border-top:1px solid #d1d1d1;margin-bottom:5px;margin-top:0;padding-top:10px;line-height:21px">
                    Сообщение сгенерировано автоматически и не требует ответа.<br>
                    С уважением, команда <a href="@MailHelper.GetUrl()" target="_blank">@WellKnownNames.SiteName</a>
                </p>
                <p>
                    <small>
                        © Интегрум — управление рисками, экономическая безопасность бизнеса, мониторинг 1996 – @DateTime.Now.Year<br />
                        Служба поддержки: <a href="tel:+74957555716" target="_blank">+7 (495) 755-57-16</a>
                    </small>
                </p>
            </td>
        </tr>
    </tbody>
</table>
