﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.CallBackContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
}

<h2>Здравствуйте</h2>
<p>
    Поступил новый запрос на регистрацию в системе <a href="@MailHelper.GetUrl()" target="_blank">@WellKnownNames.SiteName</a>. Данные запроса:
    <br />
    Имя: @Model.Name<br />
    Телефон: @Model.Phone<br />
    Удобное время для звонка: @Model.CallTime<br />
    Email: @Model.UserEmail<br />
    Дата заявки: @DateTime.Now.ToString("HH:mm dd.MM.yyyy")<br />
</p>
