﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.CallBackContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
}

<p>
    <h2>Здравствуйте @Model.Name!</h2>
</p>
<p>
    Команда <a href="@MailHelper.GetUrl()" target="_blank">@WellKnownNames.SiteName</a> получила Ваше сообщение с данными для того чтобы перезвонить Вам.
</p>
<p>
    В запросе были использованы эти данные:
    <br />
    Ваше Имя: @Model.Name<br />
    Телефон: @Model.Phone<br />
    Удобное время для звонка: @Model.CallTime<br />
    Email: @Model.UserEmail<br />
</p>
<p>
    В скором времени наш менеджер свяжется с Вами.
</p>
<p>
    Если Вы не оставляли сообщение на сайте, пожалуйста, проигнорируйте это письмо.
</p>
