﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.EmployeePasswordRecoveryContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
}


<p>Работодатель: <b>@Model.EmployerName</b></p>
<p>Email: <b>@Model.ToEmail</b></p>
<p>
    Пытается восстановить пароль на сайте Интегрум.Работа.<br />
    Свяжитесь с ним для уточнения действий.<br />
    Дата: @DateTime.Now.ToString("dd.MM.yyyy"), время: @DateTime.Now.ToString("HH:mm")
</p>