﻿@using Integrum.Rabota.Business.Helpers

@model Integrum.Rabota.Business.Wrappers.MailModels.FakeJobResponseContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/vacancy/{1}/", @Model.SiteUrl, @Model.JobId);
}


<p>
    Соискатель @Model.JobSeekerName откликнулся на вакансию <a href="@link">@Model.JobName</a>.
</p>
<p>
    @Model.Description
</p>
