﻿@using Integrum.Rabota.Business.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.FakeWantToJobContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/employer/{1}/", @Model.SiteUrl, @Model.EmployerId);
}


<p>
    Соискатель @Model.JobSeekerName  хочет работать в компании <a href="@link">@Model.EmployerName</a>.
</p>
<p>
    @Model.Description
</p>
