﻿@using Integrum.Rabota.Business.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.JobSeekerInviteContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/account/responses/{1}/", @Model.SiteUrl, @Model.ResponseId);
}


<p>
    Вас пригласили на собеседование в компанию @Model.CompanyName
</p>
<p>
    @Model.Description
</p>
<p>
    <a href="@link">Просмотреть на сайте.</a>
</p>
<p>
   Прямая ссылка на отклик в ЛК: <a href="@link">@link</a>
</p>
