﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.LoadResumeContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");

    string regData = string.Format("{0}/account/settings/", @Model.Site);
    string resume = string.Format("{0}/account/resume/add/", @Model.Site);
    string resumeView = string.Format("{0}/account/resume/", @Model.Site);
    string responses = string.Format("{0}/account/responses/", @Model.Site);
    string resumeAdded = string.Format("{0}/resume/{1}", @Model.Site, @Model.ResumeId);
}
<p>Здравствуйте, <b>@Model.Name</b>.</p>

<p>Вы успешно загрузили резюме на сайте <a href="@MailHelper.GetUrl()" target="_blank">@WellKnownNames.SiteName</a></p>
<p>Ваш логин: @Model.Login</p>
<p>Вам нужно проверить загруженную информацию и <a href="@resumeAdded">открыть Ваше резюме</a> для всех.</p>
<p>
    В личном кабинете Вы так же можете:<br />
    <ul>
        <li>изменить свои <a href="@regData">регистрационные данные;</a></li>
        <li><a href="@resume">создать резюме</a> и <a href="@resumeView">просмотреть список</a> Ваших резюме;</li>
        <li>просмотреть <a href="@responses">отклики и приглашения;</a></li>
        @*<li>настроить <a href="#">автопоиск вакансий;</a></li>*@
    </ul>
</p>
<p>
    Если Вы не регистрировались на сайте, пожалуйста, проигнорируйте это письмо.
</p>
