﻿@using Integrum.Rabota.Business.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.MainPageRecallContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
}

<p>
    Имя : @Model.Name
</p>
<p>
    Email : @Model.Email
</p>
<p>
    Текст отзыва: <br/>
    @Model.Text
</p>
