﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.PasswordRecoveryContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string recoveryLink = string.Format("{0}/auth/recovery/change/?code={1}", @Model.SiteUrl, @Model.PasswordKey);
}


<br>
Забыли пароль, <b>@Model.Name</b>?
<br>
Чтобы сбросить Ваш существующий пароль в <a href="@MailHelper.GetUrl()" target="_blank">@WellKnownNames.SiteName</a> и установить новый, пройдите по ссылке ниже (или скопируйте ее в браузер):
<br>
@*@string.Format("<a href='{0}' >Восстановить</a>",recoveryLink)*@ @recoveryLink <br/>
Эта ссылка ведет на защищенную страницу восстановления пароля.
<br>
Если Вы не хотите изменять существующий пароль, просто проигнорируйте это письмо. В этом случае Ваш пароль не будет изменен. 
<br>
Если Вы думаете, что кто-то пытается получить доступ к Вашему аккаунту, пожалуйста, напишите нам на @Model.ManagerEmail
<br />