﻿@using Integrum.Rabota.Business.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.RecommendationRequestContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/resume/{1}/", @Model.SiteUrl, @Model.ResumeGuid);
}


<p>
    Пользователь @Model.JobSeekerName разместил резюме.
</p>
<p>
    Резюме: @Model.ResumeTitle
</p>
<p>
    Дата создания: @Model.ResumeModifyDate.ToShortDateString()
</p>
<p>
    <a href="@link">Просмотреть резюме и дать рекомендацию.</a>
    <br/>
    Прямая ссылка на резюме: <a href="@link">@link</a>
</p>