﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.RecomendationCreateContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/account/responses/{1}/", @Model.SiteUrl, @Model.ResponseId);
    string resumeLink = string.Format("{0}/resume/{1}/", @Model.SiteUrl, @Model.ResumeGuid);
}

<p>
    Добрый день @(Model.JobSeekerName)!
</p>
<p>
    Вы недавно разместили на сайте @WellKnownNames.SiteName новое резюме <a target="_blank" href="@resumeLink">@Model.ResumeTitle</a>.
</p>
<p>
    Модератор сайта написал по нему рекомендацию:<br />
    @StringHelper.CleanAllFuckingHtml(Model.Description)
</p>
<p>
    Просмотреть рекомендацию на сайте <a target="_blank"  href="@link">@WellKnownNames.SiteName</a>.<br/> 
    Прямая ссылка рекомендацию: <a  target="_blank" href="@link">@link</a>
</p>
