﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.RecomendationMessageModContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/advisor/{1}/", @Model.SiteUrl, @Model.ResponseId);
    string resumeLink = string.Format("{0}/resume/{1}/", @Model.SiteUrl, @Model.ResumeGuid);
}

<p>
    В рекомендации по резюме <a target="_blank"  href="@resumeLink">@Model.ResumeTitle</a> имеются новые сообщения.
</p>
<p>
    Просмотреть сообщения на сайте <a target="_blank"  href="@link">@WellKnownNames.SiteName</a>.
</p>
<p>
    Прямая ссылка рекомендацию: <a target="_blank"  href="@link">@link</a>
</p>
