﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.RegisterContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");

    string regData = string.Format("{0}/account/settings/", @Model.Site);
    string resume = string.Format("{0}/account/resume/add/", @Model.Site);
    string resumeView = string.Format("{0}/account/resume/", @Model.Site);
    string responses = string.Format("{0}/account/responses/", @Model.Site);
    
}
<p>Здравствуйте, <b>@Model.Name</b>.</p>

<p><a href="@MailHelper.GetUrl()" target="_blank">@WellKnownNames.SiteName</a> рада сообщить, что Вы успешно зарегистрированы на нашем сайте.</p>
<p>При регистрации Вы использовали логин: @Model.Login</p>

<p>
В личном кабинете Вы можете:<br />

<ul>
<li>изменить свои <a href="@regData">регистрационные данные;</a></li>
<li><a href="@resume">создать резюме</a> и <a href="@resumeView">просмотреть список</a> Ваших резюме;</li>
<li>просмотреть <a href="@responses">отклики и приглашения;</a></li>
@*<li>настроить <a href="#">автопоиск вакансий;</a></li>*@
</ul>
</p>
<p>
Если Вы не регистрировались на сайте, пожалуйста, проигнорируйте это письмо.
</p>
