﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.RegisterVerifyContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");

    string verifyLink = string.Format("{0}/auth/confirm/{1}/", @Model.Site,@Model.VerifyKey);
}
<p>
    Добро пожаловать на сайт @WellKnownNames.SiteName!<br />
    Ниже представлена информация для подтверждения Вашей регистрации.<br />
    Для подтверждения регистрации перейдите по ссылке:
    <a href="@verifyLink">@verifyLink</a> или вставьте её в свой Интернет-браузер и зайдите на эту страницу.
</p>
<p>
    После нажатия на ссылку произойдет активация личного кабинета. После этого Вы сможете пользоваться сайтом.
</p>
<p>
    При отсутствии активации в 3-х дневный срок – регистрация удаляется.
</p>
<p>
    Ваши регистрационные данные:<br />
    Имя: @Model.FirstName<br />
    Фамилия: @Model.LastName<br />
    Email: @Model.ToEmail
</p>
<p>
    На данный Email будет приходить важная информация от Администрации сайта, отклики и приглашения, уведомления об ответах работодателей.
</p>
<p>
    Если Вы установите при входе галочку «Запомнить меня», система Вас запомнит и будет пропускать в личный кабинет без ввода пароля.
</p>
<p>
    Пожалуйста, сохраните эти данные для нахождения в нужный момент времени.
</p>
<p>
    В личном кабинете Вы сможете изменить пароль доступа к личному кабинету. Ваш личный кабинет идентифицируется по логину или почте (при обращении в службу технической поддержки следует указывать их).
</p>
<p>
    В ситуации, когда Вы забыли и меняете пароль, на указанный Email придёт информация для восстановления пароля.
</p>
<p>
    Если Вы не регистрировались на сайте, пожалуйста, проигнорируйте это письмо.
</p>
