﻿@using Integrum.Rabota.Business.Helpers
@using Integrum.Rabota.Data.Enums
@model Integrum.Rabota.Business.Wrappers.MailModels.ResponseStepContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    
    string responseLink = string.Format("{0}/employer/responses/{1}/", @Model.SiteUrl, @Model.ResponseId);
    string employerLink = string.Format("{0}/employer/{1}/", @Model.SiteUrl, @Model.EmployerId);
    string jobLink = string.Format("{0}/vacancy/{1}/", @Model.SiteUrl, @Model.JobId);
    string resumeLink = string.Format("{0}/resume/{1}/", @Model.SiteUrl, @Model.ResumeId);
    string userType = string.Empty;
    if (Model.CurrentUserType == UserTypes.Employee)
    {
        userType = "работодателем";
        responseLink = string.Format("{0}/account/response/{1}", @Model.SiteUrl, @Model.ResponseId);
    }
    else
    {
        userType = "кандидатом";
        responseLink= string.Format("{0}/employer/response/{1}", @Model.SiteUrl, @Model.ResponseId);
    }
}


<p>
    Компания: <a href="@employerLink">@Model.EmployerName</a>
</p>
@if (Model.JobId.HasValue)
{
    <p>
        Вакансия: <a href="@jobLink">@Model.JobName</a>
    </p>
}
<p>
    Резюме: <a href="@resumeLink">@Model.ResumeName</a> @Model.ResumeFirstName @Model.ResumeMiddleName @Model.ResumeLastName
</p>
<p>
    @Model.Description
</p>
<p>
    <a href="@responseLink">Просмотреть отклик на сайте.</a>
</p>
<p>
    Прямая ссылка отклик в ЛК (необходима авторизация на сайте): <a href="@responseLink">@responseLink</a> <br />
    Для связи с @userType воспользуйтесь контактами из сообщения.
</p>
