﻿@using Integrum.Rabota.Business.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.ResumeAutoSearchContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/account/autosearch/", @Model.SiteUrl);
}

<p>Здравствуйте, <b>@Model.UserName</b>.</p>
<p>
    У Вас настроен запрос для автопоиска резюме.<br />
    <b>@Model.NewCount</b> @Model.NewResumeStr по автопоиску &laquo;@Model.AutoSearchName&raquo;.
</p>
@if (Model.Items != null && Model.Items.Any())
{
        <table width="90%" border="0" cellpadding="0" cellspacing="0" style="border:0px;margin: 30px 0px 0px;font-family:PT Sans,Helvetica Neue,Helvetica,Arial,sans-serif;">
        @foreach (var item in Model.Items)
        {
            <tr>
                <td><a href='@(string.Format("{0}/resume/{1}", Model.SiteUrl, item.Id))' target="_blank" style="font-size:1.1em;color:#053181;">@item.Name</a>
                @if (!string.IsNullOrWhiteSpace(item.MonthIncome))
                {
                    <div style="white-space:nowrap;font-size:1.1em;color:#053181;">@item.MonthIncome</div>
                }
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:30px;color:#666666;">Опыт работы: @item.Experience<br>Последнее место: @item.LastCompanyName<br>@item.LastPosition, <span style="color:#919191;">@item.LastExperienceDuration</span></td>
            </tr>
        }
    </table>
}


<p><a href="@(MailHelper.GetUrl() + "/resumes"+ Model.AutoSearchRelativeUrl)&autoSearchId=@(Model.AutoSearchId)&ViewDate=@(Model.ViewDateStr)" target="_blank">Посмотреть все новые резюме</a></p>
<p style="color:#919191;"><small>Для того чтобы моментально узнавать о новых резюме, настройте <a href="@link" target="_blank">автопоиск</a> на странице в своём личном кабинете.<br>Для изменения или удаления сохраненных запросов перейдите на страницу <a href="@link" target="_blank">автопоиск</a>.</small></p>
