﻿@using Integrum.Rabota.Business.Helpers
@model Integrum.Rabota.Business.Wrappers.MailModels.WantToJobContext
@{
    Layout = MailHelper.GetMappedPath("~/Templates/Base.cshtml");
    string link = string.Format("{0}/employer/response/{1}/", @Model.SiteUrl, @Model.ResponseId);
}


<p>
    Соискатель @Model.JobSeekerName  хочет у Вас работать.
</p>
<p>
    @Model.Description
</p>
<p>
    <a href="@link">Просмотреть на сайте.</a>
</p>
<p>
   Прямая ссылка на отклик в ЛК: <a href="@link">@link</a>
</p>
